@import "tailwindcss";

:root {
  font-size: clamp(14px, 5vw, 48px);
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --animate-fade: fade 1s ease-out both;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}